<div class="container">
  <hr>
  {{!--Display the scraped titles, links, and article snippets in this section.--}}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h3>{{result.title}}</h3>
          </div>
        </div>
      </div>
    </div>

<br>
  <div class="row">
    <h2>Comments So Far</h2>
  </div>
  {{!--If no comments exist then display the following ptag info--}}
  <hr>
  <div class="row">
    {{#unless result.comment}}
    <p>There are no comments just yet. Add yours below!</p>
    {{/unless}}
  </div>
  {{!--Iterate through the comments by author and their message, display them, and have the option to delete them from the user view (also deletes from our db --}}
  <div class="row">
    <ul>
      {{#each result.comment}}
      <li style="list-style: none">
        <h5>Name: {{name}} </h5>
        <p>Message: {{comment}}</p>
        <form action="comment/delete/{{this._id}}" method="delete">
          <input type="hidden" name="deleted" value="true">
          <button class="delete-button btn btn-secondary" data-id="{{this._id}}">Delete Comment</button>
        </form>
      </li>
      {{/each}}
    </ul>
    
  </div>
  <div class="row">
    <h2>Say Something About This Article</h2>
  </div>
  <form method="POST" action="/comments/{{result._id}}">
    <div class="form-group row">
      <label for="name" class="col-form-label">Name</label>
      <input class="form-control" type="text" name="name" id="name" required>
    </div>
    <div class="form-group row">
      <label for="body">Message</label>
      <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <footer class="footer">
    <div class="container">
      <p>&copy; Brendan Ha 2017</p>
    </div>
  </footer>
</div>
